body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  background: radial-gradient(circle at top, #0f172a, #020617);
  color: #e5e7eb;
}

.circle-wrapper {
  position: relative;
  width: 420px;
  height: 420px;
}

.center {
  position: absolute;
  width: 150px;
  height: 150px;
  background: #0a4dbf;
  color: #fff;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  z-index: 5;
}


.item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center;
}


.item img {
  width: 55px;
  height: 55px;
  border-radius: 6px;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.item.active img {
  transform: scale(1.5);
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}

#chatbot-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background: #4f46e5;
  color: white;
  font-size: 26px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 9999;
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}


#chatbot-container {
  position: fixed;
  bottom: 90px;
  right: 20px;
  width: 320px;
  height: 420px;
  background: #fff;
  border-radius: 12px;
  display: none;
  flex-direction: column;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
  z-index: 9999;
}

.chat-header {
  background: #4f46e5;
  color: #fff;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  border-radius: 12px 12px 0 0;
}

.chat-messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  font-size: 14px;
}

.chat-input {
  display: flex;
  border-top: 1px solid #ddd;
}

.chat-input input {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
}

.chat-input button {
  background: #4f46e5;
  color: white;
  border: none;
  padding: 10px 14px;
  cursor: pointer;
}
.quick-questions {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  margin-bottom: 10px;
}

.quick-questions button {
  background: #4f46e5;
  color: #fff;
  border: none;
  padding: 6px 10px;
  font-size: 12px;
  border-radius: 16px;
  cursor: pointer;
}

.quick-questions button:hover {
  background: #3730a3;
}
